bin/
target/
logs/
.settings/
.project
.classpath
.project/
.settings/
.factorypath
/run-configuration.txt
/**/*.log
/**/*.log.*.gz
/saved-sql/
/snapshot-comment/
/backup/
/notes/
/.idea/
iconomi-statistics*.iml
